*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}
.parent{
  padding: 20%
}
.box{
  background-color: red;
  border: 2px black solid;
}
#two{
  background-color: green;
  width: 30rem;
  height: 20rem;
  border-radius: 5rem;
}
#two p{
  text-align: left;
  padding: 5rem;
}

#one{
  background-color: orangered;
  width: 15rem;
  height: 5rem;
  border-radius: 2rem;
  position: absolute;
  margin: -2rem 11.5%;
}
#one p{
  text-align: center;
  padding: 1.3rem;
}